<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to BBC News Highlights</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    </head>
<body>
    <div class="container-fluid" style="background-image: url('../static/Images/cnn.jpg'); background-attachment: fixed; background-size: cover;">
        <br>
        <div class="jumbotron text-center" style="background-color: rgb(12, 12, 66); opacity: .7;">
            <h1 style="font-family:monospace; font-weight: 600; font-size:60px; color:crimson;">BBC NEWS</h1>
            <hr style="color: white;">
        </div>
        <div class="container text-center" style="border:black; height: 100px;">
            <row class="col-md-12">
                <button class="btn btn-outline-primary" type="button">
                    <a style="color: black; font-weight: bold; text-decoration: none;" href="{{url_for('bbcNews')}}">
                        BBC NEWS
                    </a>
                </button>
                <button class="btn btn-outline-primary" type="button">
                    <a style="color: black; font-weight: bold; text-decoration: none;" href="{{url_for('foxNews')}}">
                        FOX NEWS</a>
                </button>
                <button class="btn btn-outline-primary" type="button">
                    <a style="color: black; font-weight: bold; text-decoration: none;" href="{{url_for('cnnNews')}}">
                        CNN NEWS
                    </a>
                </button>
                <button class="btn btn-outline-primary" type="button">
                    <a style="color: black; font-weight: bold; text-decoration: none;" href="{{url_for('mtvNews')}}">
                        MTV NEWS
                    </a>
                </button>
                <button class="btn btn-outline-primary" type="button">
                    <a style="color: black; font-weight: bold; text-decoration: none;" href="{{url_for('natgeoNews')}}">
                        NAT GEO NEWS
                    </a>
                </button>
            </row>
        </div>
        <div class="container text-center">
            <row class="col-md-12">
                {% for pubAt, author, news, desc, url in context %}
                    <div class="card bg-light">
                        <div class="card-body text-center">
                        <h6 style="font-weight: bolder;" class="card-text">{{pubAt}}</h6>
                            <h4>{{author}}: {{news}}</h4>
                            <p style="font-size: 25px; font-family: 'Times New Roman', Times, serif;
                            color: rgb(12, 12, 66);"> {{desc}} </p>
                            <button type="button" class="btn btn-outline-secondary">
                                <a style="color: rgb(12, 12, 66); font-weight: bold; text-decoration: none;" href="{{url}}" target="_blank">
                                    Read more
                                </a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </row>
       </div>
    </div>
</body>
</html>