<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to BBC News Highlights</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    </head>
<body>
    <div class="container-fluid">
        <div class="container">
            <h1>WELCOME TO NEWS HUB</h1>
            <h3>Home of all news highlights from all over the world</h3>
            <p>From below you get to choose the news sources that you wanna visit.
                <br>Lets get started....
            </p>
            <button class="btn btn-outline-primary" type="button"><a href="{{url_for('bbcNews')}}">BBC NEWS</a></button>
            <button class="btn btn-outline-primary" type="button"><a href="{{url_for('foxNews')}}">FOX NEWS</a></button>
            <button class="btn btn-outline-primary" type="button"><a href="{{url_for('cnnNews')}}">CNN NEWS</a></button>
            <button class="btn btn-outline-primary" type="button"><a href="{{url_for('mtvNews')}}">MTV NEWS</a></button>
            <button class="btn btn-outline-primary" type="button"><a href="{{url_for('natgeoNews')}}">NAT GEO NEWS</a></button>
        </div>
   </div>
</body>
</html>